<div class="datepicker" [style.width]="width + 'px'">
    <div class="datepicker-input">
        <input type="text" [value]="model | dateToString:'yyyy/MM/dd':_c">
        <button class="picker-button" (click)="pickerClick()">
            &#128197;
        </button>
    </div>

    <div class="calendar-container" [hidden]="!pickerOpen">
        <div class="calendar-title">
            <!--<input type="number" [(ngModel)]="currentViewDate.year" (change)="resetView()" min="{{_c._calendar.minYear}}" max="{{_c._calendar.maxYear}}">-->
            <a type="button" class="navigation-arrow left" (click)="prevMonth()"><</a>
            <span class="current-date">
                {{currentViewDate.month | nameOfMonth:_c}}
                <span class="year">
                    {{currentViewDate.year}}
                </span>
            </span>
            <a type="button" class="navigation-arrow right" (click)="nextMonth()">></a>
        </div>
        <table>
            <thead>
            <tr>
                <th *ngFor="let cell of header.cells">{{cell.content}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows">
                <td *ngFor="let cell of row.cells"
                    [ngClass]="{'selected': selectedDate.day == cell.content &&
                                selectedDate.year == currentViewDate.year &&
                                selectedDate.month == currentViewDate.month,
                                'not-empty': cell.content}"
                    (click)="setDate(cell)"

                >
                    <a *ngIf="cell.content">{{cell.content}}</a>
                </td>
            </tr>
            </tbody>
        </table>
        {{selectedDate.year}}/{{selectedDate.month}}/{{selectedDate.day}}
        <button (click)="confirm()">Ok</button>
        <button (click)="cancel()">Cancel</button>
        <button (click)="today()">Today</button>
    </div>
</div>