<div class="bl-dropdown">
    <button class="selection-btn" (click)="onDropdownClick()">
        {{selection.label}}
    </button>

    <div class="selection-panel" [hidden]="!listOpen" *ngIf="items.length>0">
        <input class="search" #term (keyup)="searchTerm(term.value)" type="text" [hidden]="!searchable"/>

        <div class="item-list">
            <div class="item"
                 *ngFor="let item of suggestions"
                 (click)="onItemSelect($event, item)"
                 [ngClass]="{'selected': selection===item}"
            >
                {{item.label}}
            </div>
        </div>
    </div>
</div>